<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TeachFilesProgram</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GetCourseClassServlet</display-name>
    <servlet-name>GetCourseClassServlet</servlet-name>
    <servlet-class>servlet.GetCourseClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCourseClassServlet</servlet-name>
    <url-pattern>/GetCourseClassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTermDateServlet</display-name>
    <servlet-name>GetTermDateServlet</servlet-name>
    <servlet-class>servlet.GetTermDateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTermDateServlet</servlet-name>
    <url-pattern>/GetTermDateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindCourseByClassServlet</display-name>
    <servlet-name>FindCourseByClassServlet</servlet-name>
    <servlet-class>servlet.FindCourseByClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindCourseByClassServlet</servlet-name>
    <url-pattern>/FindCourseByClassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCourseServlet</display-name>
    <servlet-name>GetCourseServlet</servlet-name>
    <servlet-class>servlet.GetCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCourseServlet</servlet-name>
    <url-pattern>/GetCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonalInfoServlet</display-name>
    <servlet-name>PersonalInfoServlet</servlet-name>
    <servlet-class>servlet.PersonalInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalInfoServlet</servlet-name>
    <url-pattern>/PersonalInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SciGetTrInfoServlet</display-name>
    <servlet-name>SciGetTrInfoServlet</servlet-name>
    <servlet-class>servlet.SciGetTrInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SciGetTrInfoServlet</servlet-name>
    <url-pattern>/SciGetTrInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SciGetProAllInfoServlet</display-name>
    <servlet-name>SciGetProAllInfoServlet</servlet-name>
    <servlet-class>servlet.SciGetProAllInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SciGetProAllInfoServlet</servlet-name>
    <url-pattern>/SciGetProAllInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SciGetSciInfoServlet</display-name>
    <servlet-name>SciGetSciInfoServlet</servlet-name>
    <servlet-class>servlet.SciGetSciInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SciGetSciInfoServlet</servlet-name>
    <url-pattern>/SciGetSciInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SciGetClassServlet</display-name>
    <servlet-name>SciGetClassServlet</servlet-name>
    <servlet-class>servlet.SciGetClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SciGetClassServlet</servlet-name>
    <url-pattern>/SciGetClassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SciChangPermissionServlet</display-name>
    <servlet-name>SciChangPermissionServlet</servlet-name>
    <servlet-class>servlet.SciChangPermissionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SciChangPermissionServlet</servlet-name>
    <url-pattern>/SciChangPermissionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePermission</display-name>
    <servlet-name>ChangePermission</servlet-name>
    <servlet-class>bean.ChangePermission</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePermission</servlet-name>
    <url-pattern>/ChangePermission</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PermissionAgreeServlet</display-name>
    <servlet-name>PermissionAgreeServlet</servlet-name>
    <servlet-class>servlet.PermissionAgreeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PermissionAgreeServlet</servlet-name>
    <url-pattern>/PermissionAgreeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonalImageServlet</display-name>
    <servlet-name>PersonalImageServlet</servlet-name>
    <servlet-class>servlet.PersonalImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalImageServlet</servlet-name>
    <url-pattern>/PersonalImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherUpdateServlet</display-name>
    <servlet-name>TeacherUpdateServlet</servlet-name>
    <servlet-class>servlet.TeacherUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherUpdateServlet</servlet-name>
    <url-pattern>/TeacherUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAllTeacherServlet</display-name>
    <servlet-name>ShowAllTeacherServlet</servlet-name>
    <servlet-class>servlet.ShowAllTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllTeacherServlet</servlet-name>
    <url-pattern>/ShowAllTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteApplicationServlet</display-name>
    <servlet-name>DeleteApplicationServlet</servlet-name>
    <servlet-class>servlet.DeleteApplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteApplicationServlet</servlet-name>
    <url-pattern>/DeleteApplicationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetApplicationServlet</display-name>
    <servlet-name>GetApplicationServlet</servlet-name>
    <servlet-class>servlet.GetApplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetApplicationServlet</servlet-name>
    <url-pattern>/GetApplicationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPaperServlet</display-name>
    <servlet-name>GetPaperServlet</servlet-name>
    <servlet-class>servlet.GetPaperServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPaperServlet</servlet-name>
    <url-pattern>/GetPaperServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSchoolServlet</display-name>
    <servlet-name>GetSchoolServlet</servlet-name>
    <servlet-class>servlet.GetSchoolServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSchoolServlet</servlet-name>
    <url-pattern>/GetSchoolServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserByTrServlet</display-name>
    <servlet-name>GetUserByTrServlet</servlet-name>
    <servlet-class>servlet.GetUserByTrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserByTrServlet</servlet-name>
    <url-pattern>/GetUserByTrServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTeaIdByUserServlet</display-name>
    <servlet-name>GetTeaIdByUserServlet</servlet-name>
    <servlet-class>servlet.GetTeaIdByUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTeaIdByUserServlet</servlet-name>
    <url-pattern>/GetTeaIdByUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserInfoByTrIdServlet</display-name>
    <servlet-name>GetUserInfoByTrIdServlet</servlet-name>
    <servlet-class>servlet.GetUserInfoByTrIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserInfoByTrIdServlet</servlet-name>
    <url-pattern>/GetUserInfoByTrIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplicationServlet</display-name>
    <servlet-name>ApplicationServlet</servlet-name>
    <servlet-class>servlet.ApplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicationServlet</servlet-name>
    <url-pattern>/ApplicationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PermissionSubServlet</display-name>
    <servlet-name>PermissionSubServlet</servlet-name>
    <servlet-class>servlet.PermissionSubServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PermissionSubServlet</servlet-name>
    <url-pattern>/PermissionSubServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePermissionServlet</display-name>
    <servlet-name>UpdatePermissionServlet</servlet-name>
    <servlet-class>servlet.UpdatePermissionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePermissionServlet</servlet-name>
    <url-pattern>/UpdatePermissionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertTipServlet</display-name>
    <servlet-name>InsertTipServlet</servlet-name>
    <servlet-class>servlet.InsertTipServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertTipServlet</servlet-name>
    <url-pattern>/InsertTipServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletAllTipServlet</display-name>
    <servlet-name>DeletAllTipServlet</servlet-name>
    <servlet-class>servlet.DeletAllTipServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletAllTipServlet</servlet-name>
    <url-pattern>/DeletAllTipServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminGetPaperServlet</display-name>
    <servlet-name>AdminGetPaperServlet</servlet-name>
    <servlet-class>servlet.AdminGetPaperServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminGetPaperServlet</servlet-name>
    <url-pattern>/AdminGetPaperServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminGetAllCourseServlet</display-name>
    <servlet-name>AdminGetAllCourseServlet</servlet-name>
    <servlet-class>servlet.AdminGetAllCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminGetAllCourseServlet</servlet-name>
    <url-pattern>/AdminGetAllCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdateHrefServlet</display-name>
    <servlet-name>AdminUpdateHrefServlet</servlet-name>
    <servlet-class>servlet.AdminUpdateHrefServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateHrefServlet</servlet-name>
    <url-pattern>/AdminUpdateHrefServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminGetAllTeacherServlet</display-name>
    <servlet-name>AdminGetAllTeacherServlet</servlet-name>
    <servlet-class>servlet.AdminGetAllTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminGetAllTeacherServlet</servlet-name>
    <url-pattern>/AdminGetAllTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminGetAllTermServlet</display-name>
    <servlet-name>AdminGetAllTermServlet</servlet-name>
    <servlet-class>servlet.AdminGetAllTermServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminGetAllTermServlet</servlet-name>
    <url-pattern>/AdminGetAllTermServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdateCourseInfoServlet</display-name>
    <servlet-name>AdminUpdateCourseInfoServlet</servlet-name>
    <servlet-class>servlet.AdminUpdateCourseInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateCourseInfoServlet</servlet-name>
    <url-pattern>/AdminUpdateCourseInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowUIdServlet</display-name>
    <servlet-name>ShowUIdServlet</servlet-name>
    <servlet-class>servlet.ShowUIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUIdServlet</servlet-name>
    <url-pattern>/ShowUIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherAddServlet</display-name>
    <servlet-name>TeacherAddServlet</servlet-name>
    <servlet-class>servlet.TeacherAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherAddServlet</servlet-name>
    <url-pattern>/TeacherAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAllProjectServlet</display-name>
    <servlet-name>ShowAllProjectServlet</servlet-name>
    <servlet-class>servlet.ShowAllProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllProjectServlet</servlet-name>
    <url-pattern>/ShowAllProjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectUpdateServlet</display-name>
    <servlet-name>ProjectUpdateServlet</servlet-name>
    <servlet-class>servlet.ProjectUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectUpdateServlet</servlet-name>
    <url-pattern>/ProjectUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoProjectUpdateServlet</display-name>
    <servlet-name>DoProjectUpdateServlet</servlet-name>
    <servlet-class>servlet.DoProjectUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoProjectUpdateServlet</servlet-name>
    <url-pattern>/DoProjectUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowTeacherIdServlet</display-name>
    <servlet-name>ShowTeacherIdServlet</servlet-name>
    <servlet-class>servlet.ShowTeacherIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTeacherIdServlet</servlet-name>
    <url-pattern>/ShowTeacherIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectAddServlet</display-name>
    <servlet-name>ProjectAddServlet</servlet-name>
    <servlet-class>servlet.ProjectAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectAddServlet</servlet-name>
    <url-pattern>/ProjectAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowNotProjectServlet</display-name>
    <servlet-name>ShowNotProjectServlet</servlet-name>
    <servlet-class>servlet.ShowNotProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowNotProjectServlet</servlet-name>
    <url-pattern>/ShowNotProjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectPeopleAddServlet</display-name>
    <servlet-name>ProjectPeopleAddServlet</servlet-name>
    <servlet-class>servlet.ProjectPeopleAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectPeopleAddServlet</servlet-name>
    <url-pattern>/ProjectPeopleAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectDeleteServlet</display-name>
    <servlet-name>ProjectDeleteServlet</servlet-name>
    <servlet-class>servlet.ProjectDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectDeleteServlet</servlet-name>
    <url-pattern>/ProjectDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindByTeacherServlet</display-name>
    <servlet-name>FindByTeacherServlet</servlet-name>
    <servlet-class>servlet.FindByTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindByTeacherServlet</servlet-name>
    <url-pattern>/FindByTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetReaderApplicationServlet</display-name>
    <servlet-name>GetReaderApplicationServlet</servlet-name>
    <servlet-class>servlet.GetReaderApplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetReaderApplicationServlet</servlet-name>
    <url-pattern>/GetReaderApplicationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetNoApplicationServlet</display-name>
    <servlet-name>GetNoApplicationServlet</servlet-name>
    <servlet-class>servlet.GetNoApplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetNoApplicationServlet</servlet-name>
    <url-pattern>/GetNoApplicationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuditNoApplicationServlet</display-name>
    <servlet-name>AuditNoApplicationServlet</servlet-name>
    <servlet-class>servlet.AuditNoApplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuditNoApplicationServlet</servlet-name>
    <url-pattern>/AuditNoApplicationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuditApplicationServlet</display-name>
    <servlet-name>AuditApplicationServlet</servlet-name>
    <servlet-class>servlet.AuditApplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuditApplicationServlet</servlet-name>
    <url-pattern>/AuditApplicationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdatePaperServlet</display-name>
    <servlet-name>AdminUpdatePaperServlet</servlet-name>
    <servlet-class>servlet.AdminUpdatePaperServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdatePaperServlet</servlet-name>
    <url-pattern>/AdminUpdatePaperServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminGetPapeServlet</display-name>
    <servlet-name>AdminGetPapeServlet</servlet-name>
    <servlet-class>servlet.AdminGetPapeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminGetPapeServlet</servlet-name>
    <url-pattern>/AdminGetPapeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminGetPaperPeopleServlet</display-name>
    <servlet-name>AdminGetPaperPeopleServlet</servlet-name>
    <servlet-class>servlet.AdminGetPaperPeopleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminGetPaperPeopleServlet</servlet-name>
    <url-pattern>/AdminGetPaperPeopleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeletePaperServlet</display-name>
    <servlet-name>AdminDeletePaperServlet</servlet-name>
    <servlet-class>servlet.AdminDeletePaperServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeletePaperServlet</servlet-name>
    <url-pattern>/AdminDeletePaperServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteApplicationServlet</display-name>
    <servlet-name>AdminDeleteApplicationServlet</servlet-name>
    <servlet-class>servlet.AdminDeleteApplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteApplicationServlet</servlet-name>
    <url-pattern>/AdminDeleteApplicationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminApplicationServlet</display-name>
    <servlet-name>AdminApplicationServlet</servlet-name>
    <servlet-class>servlet.AdminApplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminApplicationServlet</servlet-name>
    <url-pattern>/AdminApplicationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminApplicationHistoryServlet</display-name>
    <servlet-name>AdminApplicationHistoryServlet</servlet-name>
    <servlet-class>servlet.AdminApplicationHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminApplicationHistoryServlet</servlet-name>
    <url-pattern>/AdminApplicationHistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddPaperServlet</display-name>
    <servlet-name>AdminAddPaperServlet</servlet-name>
    <servlet-class>servlet.AdminAddPaperServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddPaperServlet</servlet-name>
    <url-pattern>/AdminAddPaperServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherDeleteServlet</display-name>
    <servlet-name>TeacherDeleteServlet</servlet-name>
    <servlet-class>servlet.TeacherDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherDeleteServlet</servlet-name>
    <url-pattern>/TeacherDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoTeacherUpdateServlet</display-name>
    <servlet-name>DoTeacherUpdateServlet</servlet-name>
    <servlet-class>servlet.DoTeacherUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoTeacherUpdateServlet</servlet-name>
    <url-pattern>/DoTeacherUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateUserServlet</display-name>
    <servlet-name>CreateUserServlet</servlet-name>
    <servlet-class>servlet.CreateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUserServlet</servlet-name>
    <url-pattern>/CreateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDelteCourseServlet</display-name>
    <servlet-name>AdminDelteCourseServlet</servlet-name>
    <servlet-class>daoImpl.AdminDelteCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelteCourseServlet</servlet-name>
    <url-pattern>/AdminDelteCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminInsertCourseInfoServlet</display-name>
    <servlet-name>AdminInsertCourseInfoServlet</servlet-name>
    <servlet-class>servlet.AdminInsertCourseInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminInsertCourseInfoServlet</servlet-name>
    <url-pattern>/AdminInsertCourseInfoServlet</url-pattern>
  </servlet-mapping>
</web-app>