<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TeachFilesProgram</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GetCourseClassServlet</display-name>
    <servlet-name>GetCourseClassServlet</servlet-name>
    <servlet-class>servlet.GetCourseClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCourseClassServlet</servlet-name>
    <url-pattern>/GetCourseClassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTermDateServlet</display-name>
    <servlet-name>GetTermDateServlet</servlet-name>
    <servlet-class>servlet.GetTermDateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTermDateServlet</servlet-name>
    <url-pattern>/GetTermDateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindCourseByClassServlet</display-name>
    <servlet-name>FindCourseByClassServlet</servlet-name>
    <servlet-class>servlet.FindCourseByClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindCourseByClassServlet</servlet-name>
    <url-pattern>/FindCourseByClassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCourseServlet</display-name>
    <servlet-name>GetCourseServlet</servlet-name>
    <servlet-class>servlet.GetCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCourseServlet</servlet-name>
    <url-pattern>/GetCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonalInfoServlet</display-name>
    <servlet-name>PersonalInfoServlet</servlet-name>
    <servlet-class>servlet.PersonalInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalInfoServlet</servlet-name>
    <url-pattern>/PersonalInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SciGetTrInfoServlet</display-name>
    <servlet-name>SciGetTrInfoServlet</servlet-name>
    <servlet-class>servlet.SciGetTrInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SciGetTrInfoServlet</servlet-name>
    <url-pattern>/SciGetTrInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SciGetProAllInfoServlet</display-name>
    <servlet-name>SciGetProAllInfoServlet</servlet-name>
    <servlet-class>servlet.SciGetProAllInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SciGetProAllInfoServlet</servlet-name>
    <url-pattern>/SciGetProAllInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SciGetSciInfoServlet</display-name>
    <servlet-name>SciGetSciInfoServlet</servlet-name>
    <servlet-class>servlet.SciGetSciInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SciGetSciInfoServlet</servlet-name>
    <url-pattern>/SciGetSciInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SciGetClassServlet</display-name>
    <servlet-name>SciGetClassServlet</servlet-name>
    <servlet-class>servlet.SciGetClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SciGetClassServlet</servlet-name>
    <url-pattern>/SciGetClassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SciChangPermissionServlet</display-name>
    <servlet-name>SciChangPermissionServlet</servlet-name>
    <servlet-class>servlet.SciChangPermissionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SciChangPermissionServlet</servlet-name>
    <url-pattern>/SciChangPermissionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePermission</display-name>
    <servlet-name>ChangePermission</servlet-name>
    <servlet-class>bean.ChangePermission</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePermission</servlet-name>
    <url-pattern>/ChangePermission</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PermissionAgreeServlet</display-name>
    <servlet-name>PermissionAgreeServlet</servlet-name>
    <servlet-class>servlet.PermissionAgreeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PermissionAgreeServlet</servlet-name>
    <url-pattern>/PermissionAgreeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonalImageServlet</display-name>
    <servlet-name>PersonalImageServlet</servlet-name>
    <servlet-class>servlet.PersonalImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalImageServlet</servlet-name>
    <url-pattern>/PersonalImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherUpdateServlet</display-name>
    <servlet-name>TeacherUpdateServlet</servlet-name>
    <servlet-class>servlet.TeacherUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherUpdateServlet</servlet-name>
    <url-pattern>/TeacherUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAllTeacherServlet</display-name>
    <servlet-name>ShowAllTeacherServlet</servlet-name>
    <servlet-class>servlet.ShowAllTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllTeacherServlet</servlet-name>
    <url-pattern>/ShowAllTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteApplicationServlet</display-name>
    <servlet-name>DeleteApplicationServlet</servlet-name>
    <servlet-class>servlet.DeleteApplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteApplicationServlet</servlet-name>
    <url-pattern>/DeleteApplicationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetApplicationServlet</display-name>
    <servlet-name>GetApplicationServlet</servlet-name>
    <servlet-class>servlet.GetApplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetApplicationServlet</servlet-name>
    <url-pattern>/GetApplicationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPaperServlet</display-name>
    <servlet-name>GetPaperServlet</servlet-name>
    <servlet-class>servlet.GetPaperServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPaperServlet</servlet-name>
    <url-pattern>/GetPaperServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSchoolServlet</display-name>
    <servlet-name>GetSchoolServlet</servlet-name>
    <servlet-class>servlet.GetSchoolServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSchoolServlet</servlet-name>
    <url-pattern>/GetSchoolServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserByTrServlet</display-name>
    <servlet-name>GetUserByTrServlet</servlet-name>
    <servlet-class>servlet.GetUserByTrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserByTrServlet</servlet-name>
    <url-pattern>/GetUserByTrServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTeaIdByUserServlet</display-name>
    <servlet-name>GetTeaIdByUserServlet</servlet-name>
    <servlet-class>servlet.GetTeaIdByUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTeaIdByUserServlet</servlet-name>
    <url-pattern>/GetTeaIdByUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserInfoByTrIdServlet</display-name>
    <servlet-name>GetUserInfoByTrIdServlet</servlet-name>
    <servlet-class>servlet.GetUserInfoByTrIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserInfoByTrIdServlet</servlet-name>
    <url-pattern>/GetUserInfoByTrIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplicationServlet</display-name>
    <servlet-name>ApplicationServlet</servlet-name>
    <servlet-class>servlet.ApplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicationServlet</servlet-name>
    <url-pattern>/ApplicationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PermissionSubServlet</display-name>
    <servlet-name>PermissionSubServlet</servlet-name>
    <servlet-class>servlet.PermissionSubServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PermissionSubServlet</servlet-name>
    <url-pattern>/PermissionSubServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePermissionServlet</display-name>
    <servlet-name>UpdatePermissionServlet</servlet-name>
    <servlet-class>servlet.UpdatePermissionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePermissionServlet</servlet-name>
    <url-pattern>/UpdatePermissionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertTipServlet</display-name>
    <servlet-name>InsertTipServlet</servlet-name>
    <servlet-class>servlet.InsertTipServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertTipServlet</servlet-name>
    <url-pattern>/InsertTipServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletAllTipServlet</display-name>
    <servlet-name>DeletAllTipServlet</servlet-name>
    <servlet-class>servlet.DeletAllTipServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletAllTipServlet</servlet-name>
    <url-pattern>/DeletAllTipServlet</url-pattern>
  </servlet-mapping>
</web-app>